<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="k4k3ru" />

    <link href="../../../tokens/style.css" type="text/css" rel="stylesheet" />
    <link href="../style.css" type="text/css" rel="stylesheet" />

    <!-
      Note: If you open this via file access, you need to comment out to `export { Menu }` in script.js.
    ->
    <script src="../script.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          new Menu().Run();
      });
    </script>

  </head>
  <body>
    <h1>Text Field</h1>

  </body>
</htl>
