@charset "UTF-8";

/*
 * Navigation rail
 *
 * Exmaple:
 * <div class="layout">
 *   ...
 *   <aside class="layout__navigation-rail">
 *     <nav>
 *       <ul class="layout__navigation-rail-container">
 *         <li>
 *           <a class="layout__navigation-rail-item">
 *             <svg class="layout__navigation-rail-icon"><use href="/img/splite.svg#dashboard"></svg>
 *             <p class="layout__navigation-rail-label">LABEL</p>
 *           </a>
 *         </li>
 *       </ul>
 *     </nav>
 *   </aside>
 *   <nav class="layout__navigation-rail-drawer">
 *     <ul class="layout__navigation-rail-drawer-container" data-layout-navigation-rail-drawer-container-id="1">
 *
 *     </ul>
 *   </nav>
 *   ...
 * </div>
 */

/*
 * Root
 */
:root {
    --layout-navigation-rail-badge-backgorund-color: #ba1a1a;
    --layout-navigation-rail-badge-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --layout-navigation-rail-badge-backgorund-color: #ffb4ab;
        --layout-navigation-rail-badge-color: #690005;
    }
}
html[data-theme="light"] {
    --layout-navigation-rail-badge-backgorund-color: #ba1a1a;
    --layout-navigation-rail-badge-color: #ffffff;
}
html[data-theme="dark"] {
    --layout-navigation-rail-badge-backgorund-color: #ffb4ab;
    --layout-navigation-rail-badge-color: #690005;
}

.layout__navigation-rail {
    background-color: inherit;
    box-sizing: border-box;
    display: none;
    flex: 0 0 5rem;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    overflow-y: auto;
    padding: 0.5rem 0;
    z-index: 10;
}
@media screen and (min-width: 600px) {
    .layout__navigation-rail {
        display: flex;
    }
}
.layout__navigation-rail-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}
.layout__navigation-rail-item {
    align-items: center;
    border-radius: 1rem;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: flex;
    fill: inherit;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.75rem;
    position: relative;
    row-gap: 0;
}
.layout__navigation-rail-icon {
    border: none;
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    height: 2rem;
    object-fit: contain;
    padding: 0.25rem 0.5rem;
    width: 3.5rem;
}
.layout__navigation-rail-item--round .layout__navigation-rail-icon {
    border-radius: 1rem;
    height: 2rem;
    padding: 0.25rem 0.75rem;
}
.layout__navigation-rail-item:hover > .layout__navigation-rail-icon {
    background-color: var(--color-state-layer-hover-secondary);
    transition: all 0.3s ease-in-out;
}
.layout__navigation-rail-item:active > .layout__navigation-rail-icon {
    background-color: var(--color-state-layer-hover-secondary);
    transition: all 0.3s ease-in-out;
}
.layout__navigation-rail-item--activated > .layout__navigation-rail-icon {
    background-color: var(--color-secondary-container);
}
.layout__navigation-rail-label {
    box-sizing: border-box;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    word-break: keep-all;
}
.layout__navigation-rail-label--smaller {
    font-size: 0.625rem;
}
.layout__navigation-rail-badge {
    background-color: var(--layout-navigation-rail-badge-backgorund-color); 
    border-radius: 1rem;
    box-sizing: border-box;
    color: var(--layout-navigation-rail-badge-color);
    display: block;
    font-size: 0.625rem;
    height: 1rem;
    line-height: 1rem;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(1rem);
    width: 1rem;
}
.layout__navigation-rail-badge--smaller {
    border-radius: 0.1875rem;
    height: 0.375rem;
    width: 0.375rem;
}
.layout__navigation-rail-badge--larger {
    border-radius: 0.5rem;
    height: 1rem;
    width: 2rem;
}


.layout__navigation-rail-drawer {
    background-color: inherit;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 5rem;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 9;
}
@media screen and (min-width: 600px) {
    .layout__navigation-rail-drawer {
        display: flex;
    }
}
.layout__navigation-rail-drawer.activated {
    border-left: 1px solid var(--color-surface-container-highest);
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%);
    transition: var(--motion-standard) width var(--easing-standard);
    width: 16.25rem;
}
.layout__navigation-rail-drawer-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    padding: 0.75rem;
    top: 0;
    visibility: hidden;
    width: 100%;
}
.layout__navigation-rail-drawer-container.activated {
    opacity: 1;
    transition: var(--transition-hover);
    transition-delay: 0.15s;
    visibility: visible;
}
.layout__navigation-rail-drawer-container--dropdown {
    height: 0;
    margin-left: 0.25rem;
    overflow: hidden;
    width: calc(100% - 0.25rem);
}
.layout__navigation-rail-drawer-item--dropdown.activated + .layout__navigation-rail-drawer-container--dropdown {
    transition: var(--transition-emphasized-hover);
}
.layout__navigation-rail-drawer-item {
    align-items: center;
    border-radius: 2rem;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: flex;
    fill: inherit;
    height: 3.5rem;
    padding: 1rem;
    gap: 0.5rem;
}
.layout__navigation-rail-drawer-item:hover {
    background-color: var(--color-surface-container-high);
    transition: var(--transition-hover);
}
.layout__navigation-rail-drawer-item:active {
    background-color: var(--color-surface-container-highest);
}
.layout__navigation-rail-drawer-item.activated {
    background-color: var(--color-secondary-container);
}
.layout__navigation-rail-drawer-item--dropdown {
    background-color: inherit;
    cursor: pointer;
}
.layout__navigation-rail-drawer-item--dropdown.activated {
    background-color: var(--color-surface-container-high);
}
.layout__navigation-rail-drawer-icon {
    display: block;
    flex: 0 0 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
}
.layout__navigation-rail-drawer-container--dropdown .layout__navigation-rail-drawer-icon {
    flex: 0 0 1.25rem;
    height: 1.25rem;
    width: 1.25rem;
}
.layout__navigation-rail-drawer-icon--dropdown {
    transition: var(--transition-hover);
}
.layout__navigation-rail-drawer-item--dropdown.activated .layout__navigation-rail-drawer-icon--dropdown {
    transform: rotateX(180deg);
}
.layout__navigation-rail-drawer-label {
    box-sizing: border-box;
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.layout__navigation-rail-drawer-container--dropdown .layout__navigation-rail-drawer-label {
    font-size: 0.9rem;
}
.layout__navigation-rail-drawer-item--dropdown .layout__navigation-rail-drawer-label {
    cursor: pointer;
}
.layout__navigation-rail-drawer-sub-label {
    flex: 0 1 auto;
    font-size: 0.75rem;
    line-height: 1;
}
