@charset "UTF-8";

/*
 * Top app bar
 *
 * Exmaple:
 * <div class="layout">
 *   <header class="layout__top-app-bar">
 *     <div class="layout__top-app-bar-side">
 *       <svg class="layout__top-app-bar-icon"><use href="/img/splite.svg#XXXX"></svg>
 *     </div>
 *     <div class="layout__top-app-bar-center">
 *       <p class="layout__top-app-bar-center-title">TITLE</p>
 *     </div>
 *     <div class="layout__top-app-bar-side">
 *       <svg class="layout__top-app-bar-icon"><use href="/img/splite.svg#XXXX"></svg>
 *     </div>
 *   </header>
 *   ...
 * </div>
 */
.layout__top-app-bar {
    align-items: center;
    background-color: inherit;
    box-sizing: border-box;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 0;
    padding: 0 0.25rem;
    position: fixed;
    width: 100%;
}
@media screen and (min-width: 600px) {
    .layout__top-app-bar {
        padding-left: 5rem;
    }
    .layout__top-app-bar--without-navigation-rail {
        padding-left: 0;
    }
}
.layout__top-app-bar-side {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}
.layout__top-app-bar-center {
    align-items: center;
    display: flex;
    height: 3rem;
    flex: 1 1 auto;
    justify-content: center;
}
.layout__top-app-bar-center-title {
    font-size: 1rem;
    line-height: 1.5;
}
.layout__top-app-bar-icon {
    display: block;
    fill: var(--color-on-surface);
    flex-shrink: 0;
    height: 1.5rem;
    object-fit: contain;
    padding: 0.75rem;
    position: relative;
    width: 1.5rem;
    z-index: 2;
}
