@charset "UTF-8";

/*
 * Easing
 */
:root {
    --easing-standard: cubic-bezier(0.2, 0.0, 0, 1.0);
    --easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
    --easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
    --easing-emphasized: cubic-bezier(0.2, 0.0, 0, 1.0);
    --easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
    --easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
}


/*
 * Elevation
 */
:root {
    --elevation-level-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --elevation-level-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --elevation-level-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%);
}


/*
 * Duration
 */
:root {
    --motion-standard: 0.3s;
    --motion-standard-decelerate: 0.25s;
    --motion-standard-accelerate: 0.2s;
    --motion-emphasized: 0.5s;
    --motion-emphasized-decelerate: 0.4s;
    --motion-emphasized-accelerate: 0.2s;
}


/*
 * Transition
 */
:root {
    --transition-hover: var(--motion-standard) all var(--easing-standard);
    --transition-focus: var(--motion-standard) all var(--easing-standard);
}


/*
 * Typography
 * 1rem = 16px
 */
:root {
    /* Display */
    --typography-display-large-font-size:    3.875rem;  /* 62px */
    --typography-display-large-line-height:  4.5625rem; /* 73px */
    --typography-display-medium-font-size:   3.1875rem; /* 51px */
    --typography-display-medium-line-height: 3.6875rem; /* 59px */
    --typography-display-small-font-size:    2.5625rem; /* 41px */
    --typography-display-small-line-height:  3rem;      /* 48px */

    /* Headline */
    --typography-headline-large-font-size:    2.25rem;   /* 36px */
    --typography-headline-large-line-height:  2.875rem;  /* 46px */
    --typography-headline-medium-font-size:   2rem;      /* 32px */
    --typography-headline-medium-line-height: 2.5625rem; /* 41px */
    --typography-headline-small-font-size:    1.6875rem; /* 27px */
    --typography-headline-small-line-height:  2.25rem;   /* 36px */

    /* Title */
    --typography-title-large-font-size:    1.5625rem; /* 25px */
    --typography-title-large-line-height:  2rem;      /* 32px */
    --typography-title-medium-font-size:   1.125rem;  /* 18px */
    --typography-title-medium-line-height: 1.6875rem; /* 27px */
    --typography-title-small-font-size:    1rem;      /* 16px */
    --typography-title-small-line-height:  1.4375rem; /* 23px */

    /* Label */
    --typography-label-large-font-size:    1rem;      /* 16px */
    --typography-label-large-line-height:  1.4375rem; /* 23px */
    --typography-label-medium-font-size:   0.875rem;  /* 14px */
    --typography-label-medium-line-height: 1.125rem;  /* 18px */
    --typography-label-small-font-size:    0.8125rem; /* 13px */
    --typography-label-small-line-height:  1.125rem;  /* 18px */

    /* Body */
    --typography-body-large-font-size:    1.125rem;  /* 18px */
    --typography-body-large-line-height:  1.6875rem; /* 27px */
    --typography-body-medium-font-size:   1rem;      /* 16px */
    --typography-body-medium-line-height: 1.4375rem; /* 23px */
    --typography-body-small-font-size:    0.875rem;  /* 14px */
    --typography-body-small-line-height:  1.125rem;  /* 18px */

    /* Table */
    --typography-table-header-large-font-size:     var(--typography-label-large-font-size);    /* 16px */
    --typography-table-header-large-line-height:   var(--typography-label-large-line-height);  /* 23px */
    --typography-table-header-medium-font-size:    var(--typography-label-medium-font-size);   /* 14px */
    --typography-table-header-medium-line-height:  var(--typography-label-medium-line-height); /* 18px */
    --typography-table-header-small-font-size:     var(--typography-label-small-font-size);    /* 13px */
    --typography-table-header-small-line-height:   var(--typography-label-small-line-height);  /* 18px */
    --typography-table-cell-large-font-size:       var(--typography-body-medium-font-size);    /* 16px */
    --typography-table-cell-large-line-height:     var(--typography-body-medium-line-height);  /* 23px */
    --typography-table-cell-medium-font-size:      var(--typography-body-small-font-size);     /* 14px */
    --typography-table-cell-medium-line-height:    var(--typography-body-small-line-height);   /* 18px */
    --typography-table-cell-small-font-size:       var(--typography-body-small-font-size);     /* 14px */
    --typography-table-cell-small-line-height:     var(--typography-body-small-line-height);   /* 18px */
    --typography-table-caption-large-font-size:    var(--typography-label-medium-font-size);   /* 14px */
    --typography-table-caption-large-line-height:  var(--typography-label-medium-line-height); /* 18px */
    --typography-table-caption-medium-font-size:   var(--typography-label-small-font-size);    /* 13px */
    --typography-table-caption-medium-line-height: var(--typography-label-small-line-height);  /* 18px */
}



/*
 * Colors
 */
:root {
    --color-opacity-overlay-hover: #ffffff14;
    --color-opacity-overlay-focus: #ffffff1f;
    --color-opacity-overlay-active: #ffffff1f;
    --color-opacity-overlay-dragged: #ffffff29;
    --color-opacity-overlay-disabled: #ffffff52;
    --color-success: #006c47;
    --color-success-overlay-hover: #006c4714;
    --color-success-overlay-focus: #006c471f;
    --color-success-overlay-active: #006c471f;
    --color-success-overlay-dragged: #006c4729;
    --color-success-overlay-disabled: #006c4752;
    --color-on-success: #ffffff;
    --color-success-container: #53feb5;
    --color-on-success-container: #002113;
    --color-error: #b90064;
    --color-error-overlay-hover: #b9006414;
    --color-error-overlay-focus: #b900641f;
    --color-error-overlay-active: #b900641f;
    --color-error-overlay-dragged: #b9006429;
    --color-error-overlay-disabled: #b9006452;
    --color-on-error: #ffffff;
    --color-error-container: #ffd9e2;
    --color-on-error-container: #3e001e;
    --color-info: #005db6;
    --color-info-overlay-hover: #005db614;
    --color-info-overlay-focus: #005db61f;
    --color-info-overlay-active: #005db61f;
    --color-info-overlay-dragged: #005db629;
    --color-info-overlay-disabled: #005db652;
    --color-on-info: #ffffff;
    --color-info-container: #d6e3ff;
    --color-on-info-container: #001b3d;
    --color-warning: #6d5e00;
    --color-warning-overlay-hover: #6d5e0014;
    --color-warning-overlay-focus: #6d5e001f;
    --color-warning-overlay-active: #6d5e001f;
    --color-warning-overlay-dragged: #6d5e0029;
    --color-warning-overlay-disabled: #6d5e0052;
    --color-on-warning: #ffffff;
    --color-warning-container: #ffe249;
    --color-on-warning-container: #211b00;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-opacity-overlay-hover: #00000014;
        --color-opacity-overlay-focus: #0000001f;
        --color-opacity-overlay-active: #0000001f;
        --color-opacity-overlay-dragged: #00000029;
        --color-opacity-overlay-disabled: #00000052;
        --color-success: #25e19b;
        --color-success-overlay-hover: #25e19b14;
        --color-success-overlay-focus: #25e19b1f;
        --color-success-overlay-active: #25e19b1f;
        --color-success-overlay-dragged: #25e19b29;
        --color-success-overlay-disabled: #25e19b52;
        --color-on-success: #003823;
        --color-success-container: #005235;
        --color-on-success-container: #53feb5;
        --color-error: #ffb0c8;
        --color-error-overlay-hover: #ffb0c814;
        --color-error-overlay-focus: #ffb0c81f;
        --color-error-overlay-active: #ffb0c81f;
        --color-error-overlay-dragged: #ffb0c829;
        --color-error-overlay-disabled: #ffb0c852;
        --color-on-error: #650034;
        --color-error-container: #8e004b;
        --color-on-error-container: #ffd9e2;
        --color-info: #a9c7ff;
        --color-info-overlay-hover: #a9c7ff14;
        --color-info-overlay-focus: #a9c7ff1f;
        --color-info-overlay-active: #a9c7ff1f;
        --color-info-overlay-dragged: #a9c7ff29;
        --color-info-overlay-disabled: #a9c7ff52;
        --color-on-info: #003062;
        --color-info-container: #00468b;
        --color-on-info-container: #d6e3ff;
        --color-warning: #e2c624;
        --color-warning-overlay-hover: #e2c62414;
        --color-warning-overlay-focus: #e2c6241f;
        --color-warning-overlay-active: #e2c6241f;
        --color-warning-overlay-dragged: #e2c62429;
        --color-warning-overlay-disabled: #e2c62452;
        --color-on-warning: #393000;
        --color-warning-container: #524600;
        --color-on-warning-container: #ffe249;
    }
}
html[data-theme="light"] {
    --color-opacity-overlay-hover: #ffffff14;
    --color-opacity-overlay-focus: #ffffff1f;
    --color-opacity-overlay-active: #ffffff1f;
    --color-opacity-overlay-dragged: #ffffff29;
    --color-opacity-overlay-disabled: #ffffff52;
    --color-success: #006c47;
    --color-success-overlay-hover: #006c4714;
    --color-success-overlay-focus: #006c471f;
    --color-success-overlay-active: #006c471f;
    --color-success-overlay-dragged: #006c4729;
    --color-success-overlay-disabled: #006c4752;
    --color-on-success: #ffffff;
    --color-success-container: #53feb5;
    --color-on-success-container: #002113;
    --color-error: #b90064;
    --color-error-overlay-hover: #b9006414;
    --color-error-overlay-focus: #b900641f;
    --color-error-overlay-active: #b900641f;
    --color-error-overlay-dragged: #b9006429;
    --color-error-overlay-disabled: #b9006452;
    --color-on-error: #ffffff;
    --color-error-container: #ffd9e2;
    --color-on-error-container: #3e001e;
    --color-info: #005db6;
    --color-info-overlay-hover: #005db614;
    --color-info-overlay-focus: #005db61f;
    --color-info-overlay-active: #005db61f;
    --color-info-overlay-dragged: #005db629;
    --color-info-overlay-disabled: #005db652;
    --color-on-info: #ffffff;
    --color-info-container: #d6e3ff;
    --color-on-info-container: #001b3d;
    --color-warning: #6d5e00;
    --color-warning-overlay-hover: #6d5e0014;
    --color-warning-overlay-focus: #6d5e001f;
    --color-warning-overlay-active: #6d5e001f;
    --color-warning-overlay-dragged: #6d5e0029;
    --color-warning-overlay-disabled: #6d5e0052;
    --color-on-warning: #ffffff;
    --color-warning-container: #ffe249;
    --color-on-warning-container: #211b00;
}
html[data-theme="dark"] {
    --color-opacity-overlay-hover: #00000014;
    --color-opacity-overlay-focus: #0000001f;
    --color-opacity-overlay-active: #0000001f;
    --color-opacity-overlay-dragged: #00000029;
    --color-opacity-overlay-disabled: #00000052;
    --color-success: #25e19b;
    --color-success-overlay-hover: #25e19b14;
    --color-success-overlay-focus: #25e19b1f;
    --color-success-overlay-active: #25e19b1f;
    --color-success-overlay-dragged: #25e19b29;
    --color-success-overlay-disabled: #25e19b52;
    --color-on-success: #003823;
    --color-success-container: #005235;
    --color-on-success-container: #53feb5;
    --color-error: #ffb0c8;
    --color-error-overlay-hover: #ffb0c814;
    --color-error-overlay-focus: #ffb0c81f;
    --color-error-overlay-active: #ffb0c81f;
    --color-error-overlay-dragged: #ffb0c829;
    --color-error-overlay-disabled: #ffb0c852;
    --color-on-error: #650034;
    --color-error-container: #8e004b;
    --color-on-error-container: #ffd9e2;
    --color-info: #a9c7ff;
    --color-info-overlay-hover: #a9c7ff14;
    --color-info-overlay-focus: #a9c7ff1f;
    --color-info-overlay-active: #a9c7ff1f;
    --color-info-overlay-dragged: #a9c7ff29;
    --color-info-overlay-disabled: #a9c7ff52;
    --color-on-info: #003062;
    --color-info-container: #00468b;
    --color-on-info-container: #d6e3ff;
    --color-warning: #e2c624;
    --color-warning-overlay-hover: #e2c62414;
    --color-warning-overlay-focus: #e2c6241f;
    --color-warning-overlay-active: #e2c6241f;
    --color-warning-overlay-dragged: #e2c62429;
    --color-warning-overlay-disabled: #e2c62452;
    --color-on-warning: #393000;
    --color-warning-container: #524600;
    --color-on-warning-container: #ffe249;
}
