@charset "UTF-8";

:root {
    --button-color-error-overlay-hover: var(--color-error-overlay-hover);
    --button-color-error-overlay-active: var(--color-error-overlay-active);
    --button-color-error-overlay-disabled: var(--color-error-overlay-disabled);
    --button-color-info-overlay-hover: var(--color-info-overlay-hover);
    --button-color-info-overlay-active: var(--color-info-overlay-active);
    --button-color-info-overlay-disabled: var(--color-info-overlay-disabled);
    --button-color-success-overlay-hover: var(--color-success-overlay-hover);
    --button-color-success-overlay-active: var(--color-success-overlay-active);
    --button-color-success-overlay-disabled: var(--color-success-overlay-disabled);
    --button-color-warning-overlay-hover: var(--color-warning-overlay-hover);
    --button-color-warning-overlay-active: var(--color-warning-overlay-active);
    --button-color-warning-overlay-disabled: var(--color-warning-overlay-disabled);
    --button-filled-color-opacity-overlay-hover: var(--color-opacity-overlay-hover);
    --button-filled-color-opacity-overlay-active: var(--color-opacity-overlay-active);
    --button-filled-color-opacity-overlay-disabled: var(--color-opacity-overlay-disabled);

    --button-color-error: var(--color-error);
    --button-color-on-error: var(--color-on-error);

    --button-color-info: var(--color-info);
    --button-color-on-info: var(--color-on-info);

    --button-color-success: var(--color-success);
    --button-color-on-success: var(--color-on-success);

    --button-color-warning: var(--color-warning);
    --button-color-on-warning: var(--color-on-warning);

    --button-large-font-size: var(--typography-label-large-font-size);
    --button-large-line-height: var(--typography-label-large-line-height);
    --button-medium-font-size: var(--typography-label-medium-font-size);
    --button-medium-line-height: var(--typography-label-medium-line-height);
    --button-small-font-size: var(--typography-label-small-font-size);
    --button-small-line-height: var(--typography-label-small-line-height);
}


.button__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 1.0rem 0;
}


.button {
    align-items: center;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: var(--button-medium-font-size);
    gap: 0.5rem;
    height: 2.5rem;
    justify-content: center;
    line-height: var(--button-medium-line-height);
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    transition: background-color var(--motion-standard) var(--easing-standard);
}
.button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: transparent;
    pointer-events: none;
    transition: background-color var(--motion-standard) var(--easing-standard);
}

.button--larger {
    font-size: var(--button-large-font-size);
    line-height: var(--button-large-line-height);
}

.button--smaller {
    font-size: var(--button-small-font-size);
    line-height: var(--button-small-line-height);
}

.button--round {
    border-radius: 6.25rem;
}

.button--error {
    background-color: var(--button-color-on-error);
    color: var(--button-color-error);
    fill: var(--button-color-error);
}
.button--error:hover::before {
    background-color: var(--button-color-error-overlay-hover);
}
.button--error:active::before {
    background-color: var(--button-color-error-overlay-active);
}
.button--error:disabled::before {
    background-color: var(--button-color-error-overlay-disabled);
}
.button--error.button--outlined {
    background-color: inherit;
    border: 1px solid var(--button-color-error);
}
.button--error.button--filled {
    background-color: var(--button-color-error);
    color: var(--button-color-on-error);
    fill: var(--button-color-on-error);
}

.button--info {
    background-color: var(--button-color-on-info);
    color: var(--button-color-info);
    fill: var(--button-color-info);
}
.button--info:hover::before {
    background-color: var(--button-color-info-overlay-hover);
}
.button--info:active::before {
    background-color: var(--button-color-info-overlay-active);
}
.button--info:disabled::before {
    background-color: var(--button-color-info-overlay-disabled);
}
.button--info.button--outlined {
    background-color: inherit;
    border: 1px solid var(--button-color-info);
}
.button--info.button--filled {
    background-color: var(--button-color-info);
    color: var(--button-color-on-info);
    fill: var(--button-color-on-info);
}

.button--success {
    background-color: var(--button-color-on-success);
    color: var(--button-color-success);
    fill: var(--button-color-success);
}
.button--success:hover::before {
    background-color: var(--button-color-success-overlay-hover);
}
.button--success:active::before {
    background-color: var(--button-color-success-overlay-active);
}
.button--success:disabled::before {
    background-color: var(--button-color-success-overlay-disabled);
}
.button--success.button--outlined {
    background-color: inherit;
    border: 1px solid var(--button-color-success);
}
.button--success.button--filled {
    background-color: var(--button-color-success);
    color: var(--button-color-on-success);
    fill: var(--button-color-on-success);
}

.button--warning {
    background-color: var(--button-color-on-warning);
    color: var(--button-color-warning);
    fill: var(--button-color-warning);
}
.button--warning:hover::before {
    background-color: var(--button-color-warning-overlay-hover);
}
.button--warning:active::before {
    background-color: var(--button-color-warning-overlay-active);
}
.button--warning:disabled::before {
    background-color: var(--button-color-warning-overlay-disabled);
}
.button--warning.button--outlined {
    background-color: inherit;
    border: 1px solid var(--button-color-warning);
}
.button--warning.button--filled {
    background-color: var(--button-color-warning);
    color: var(--button-color-on-warning);
    fill: var(--button-color-on-warning);
}

.button--filled:hover::before {
    background-color: var(--button-filled-color-opacity-overlay-hover);
}
.button--filled:active::before {
    background-color: var(--button-filled-color-opacity-overlay-active);
}
.button--filled:disabled::before {
    background: var(--button-filled-color-opacity-overlay-disabled);
}

.button__ripple {
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    transform: scale(0);
    transition: transform 400ms ease-out, opacity 400ms ease-out;
}
.button--error .button__ripple {
    background-color: var(--button-color-error-overlay-hover);
}
.button--info .button__ripple {
    background-color: var(--button-color-info-overlay-hover);
}
.button--success .button__ripple {
    background-color: var(--button-color-success-overlay-hover);
}
.button--warning .button__ripple {
    background-color: var(--button-color-warning-overlay-hover);
}
.button--filled .button__ripple {
    background-color: var(--button-filled-color-opacity-overlay-hover);
}
.button__ripple--animating {
    transform: scale(1);
    opacity: 0;
}

.button > img,
.button > svg {
    display: block;
    height: 1.125rem;
    width: 1.125rem;
}
